.nav-bg{
    width: 100%;
    height: 6rem;
    border-bottom: 2px solid $grisClaro;
}
.nav-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        margin: 0;
        font-weight: $regular;
        font-size: 2.6rem;
        color: $negro;
        .logo-span{
            color: $primary;
            font-weight: $medium;
        }
    }
    .nav-list{
        display: flex;
        gap: 2.5rem;
        .nav-link,
        .active-nav-link{
            font-size: 1.6rem;
            font-weight: $medium;
            @include transition(color);
            &:hover{
                color: $primary;
            }
        }
    }
    .profile-container{
        display: flex;
        align-items: center;
        gap: $separacion / 4;
    }
}