.nav-bg{
    width: 100%;
    height: 6rem;
    border-bottom: 2px solid $grisClaro;
}
.nav-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        margin: 0;
        font-weight: $regular;
        font-size: 2.6rem;
        color: $negro;
        .logo-span{
            color: $primary;
            font-weight: $medium;
        }
    }
    .nav-list{
        display: flex;
        gap: 2.5rem;
        .nav-link,
        .active-nav-link{
            font-size: 1.6rem;
            font-weight: $medium;
            @include transition(color);
            &:hover{
                color: $primary;
            }
        }
    }
    .profile-container{
        display: flex;
        align-items: center;
        gap: $separacion / 4;
        .profile-img{
            width: 3.5rem;
            height: 3.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $grisClaro;
            border: 2px solid $primary;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            overflow: hidden;
            .profile{
                color: #a7a7a7;
                width: 100%;
                height: 100%;
            }
        }
    }
}