.empty-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    gap: $separacion;
    .empty-title{
        color: $grisClaro;
        font-size: 5.5rem;
    }
    .empty-info{
        color: $grisClaro;
        font-size: 2.25rem;
    }
    .search-icon{
        color: $grisClaro;
        height: 15rem;
        margin: 0 auto;
    }
}