.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $separacion / 1.5;
    margin: $separacion / 1.5 auto;
    .filter-btn{
        background-color: transparent;
        font-weight: $regular;
        font-size: 1.6rem;
        @include secondary-btn;
        &:hover{
            cursor: pointer;
        }
    }
}
.css-1s2u09g-control {
    border: 2px solid $primary !important;
    height: 4.6rem !important;
}
.css-1pahdxg-control{
    box-shadow: 0 0 0 1px $primary !important;
    border-color: $primary !important;
    &:hover{
        border-color: $primary !important;
    }
}
.css-14el2xx-placeholder,
.css-qc6sy-singleValue{
    font-size: 1.4rem !important;
    font-weight: $semiBold !important;
    color: $primary !important;
    border: none !important;
}
.css-2613qy-menu {
    border-color: $primary !important;
    &:hover{
        border-color: $primary !important;
    }
}

@include mobile{
    .filter-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $separacion / 2;
    }
}