.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $separacion / 1.5;
    margin: $separacion / 1.5 auto;
    .filter-btn{
        background-color: transparent;
        font-weight: $regular;
        font-size: 1.6rem;
        @include secondary-btn;
        &:hover{
            cursor: pointer;
        }
    }
}

@include mobile{
    .filter-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $separacion / 2;
    }
}