.details-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 90vh;
    .details-desc{
        border-right: 2px solid $grisClaro;
        .desc-title-container{
            border-bottom: 2px solid $grisClaro;
            text-align: center;
            padding: $separacion / 2.5 0;
        }
        .desc-text-container{
            height: 84vh;
            overflow: auto;

            .desc-text{
                padding: $separacion / 2;
            }
        }
    }
}

@include mobile{
    .details-container{
        margin-top: $separacion / 2;
        grid-template-columns: 1fr;
        .details-info{
            border: 2px solid $grisClaro;
            border-radius: 0.5rem;
            .extrainfo-grid{
                margin-bottom: $separacion / 2;
            }
        }
        .details-desc{
            margin-top: $separacion / 2;
            border: 2px solid $grisClaro;
            border-radius: 0.5rem;
            .desc-title-container{
                border-bottom: none;
            }
            .desc-text-container{
                overflow: auto;
            }
        }
    }
}