$fuente: 'Roboto', sans-serif;

// Fuentes
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// Colores
$primary: #27AE60;
$grisClaro: #dcdcdc;
$blanco: #ffffff;
$negro: #000000;

// Media Queries
$telefono: 375px;
$tablet: 768px;
$desktop: 1200px;

// Margenes
$separacion: 5rem;
